.btn-1 {
    background-color: $c-white;
    border: none;
    color: $c-black;
    padding: 1rem 2rem;
    cursor: pointer;

    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: all $t-medium;

    &:hover {
        background-color: $c-primary;
        color: $c-white;
        transform: translate(1px, -2px);
    }

    @media (max-width: 800px) {
        background-color: $c-white;
        border: none;
        color: black;
        padding: 1rem 2rem;
        cursor: pointer;

        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        transition: all 0.4s;
    }
}

.btn-2 {
    background-color: $c-primary;
    border: none;
    color: $c-white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: all $t-medium;
    margin-top: 1rem;

    &:hover {
        background-color: $c-primary-light;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}
